node_modules
.yarn/cache
.yarn/unplugged
.git
.next
dist
build
coverage
.turbo
*.log
.env
.env.*
!.env.example
contracts/marketplace/cache
contracts/marketplace/out
contracts/marketplace/broadcast
infra/data
tmp
